.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
  /* @include variables.poetsen; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sub-categories {
  max-width: 1200px;
  margin: 0 auto;
}

.myBorder {
  border: 2px solid black !important;
  border-radius: 6px !important;
}

/* Make caret always big */
button.accordion-button::after {
  transform: scale(1.5); /* Always enlarge */
  transition: transform 0.3s ease;
  /* border: 2px solid black; */
}

/* When accordion is expanded */
button.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg) scale(1.5); /* Rotate + scale */
}

.accordion-header:hover,
.accordion-button:hover {
  background-color: #bfdbfe !important;
  /* transform: scale(1.05) !important; */
  outline: 3px solid black !important;
  transition: all 0.3s ease-in-out;
}

.accordion-header,
.accordion-button {
  outline: 3px solid rgba(0, 0, 0, 0) !important;
  background-color: white !important;
  transition: all 0.3s ease-in-out;
}
