/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("./styles/variables.css");
@import url("./styles/dayTheme.css");
@import url("./styles/animations.css");

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  padding-bottom: 70px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.nav-bar-text {
  text-decoration: none !important;
}

.sub-categories {
  max-width: 1400px;
  margin: 0 auto;
}

.myBorder {
  border: 2px solid black !important;
  border-radius: 6px !important;
}

.accordion-button::after {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

button.accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(-180deg) scale(2);
  -ms-transform: rotate(-180deg) scale(2);
  transform: rotate(-180deg) scale(2);
  font-weight: 900 !important;
}

.accordion-header:hover,
.accordion-button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion-header,
.accordion-button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul {
  padding-left: 0 !important;
}

.animate-button {
}

.animate-button-blue {
  background-color: var(--light-3);
}

.animate-button-blue:hover {
  background-color: var(--light-2);
}

.animate-button-red {
  background-color: #e33232;
}

.animate-button-green {
  background-color: #34ad7b;
}

.animate-button-purple:hover {
  background-color: var(--dark-5);
}

.animate-button-purple {
  background-color: var(--dark-6);
  color: white;
}

.animate-button-white {
  background-color: #fff;
  color: #2563eb !important;
}

.button-shadow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
  border: 2px solid black;
}

.button-shadow {
  border: 2px solid black;
  color: #fff;
}

.button-glow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border: 2px solid white;
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
}

.button-glow {
  border: 2px solid white;
}

.register-form-day + p {
  color: #0081a8 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.register-form-night + p {
  color: white !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.animate-button:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.react-icon:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.pie-chart {
  max-width: 300px !important;
  max-height: 300px;
}

.line-chart {
  max-height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.day-theme-button {
  position: absolute;
  right: 15px;
  top: 20px;
}

.outer-glow {
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
}

.sun-icon {
  left: -17px;
  top: -23px;
  width: 75px;
  height: 75px;
}

.moon-icon {
  left: -12px;
  top: -15px;
  height: 60px;
  width: 60px;
}

.subcategory-bar-chart {
  max-height: 200px;
}

.eye-icons {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.eye-icon-day {
  color: #666;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eye-icon-night {
  color: var(--dark-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.my-animation {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.daytheme-icon-animation {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.month-arrow {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  margin-top: -3px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.month-arrow:hover {
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.month-arrow:active {
  -webkit-transform: scale(2.3);
  -ms-transform: scale(2.3);
  transform: scale(2.3);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.rel-icon {
  fill: white;
}

.flying-cash-animation {
  width: 300px;
  height: 300px;
}

.zero-percent {
  top: 10px;
  font-size: 20px;
}

.break {
  word-break: break-word;
  -webkit-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
  overflow-wrap: anywhere;
}

@media only screen and (max-width: 640px) {
  .sun-icon {
    left: 0px;
    top: -16px;
    width: 60px;
    height: 60px;
  }

  .moon-icon {
    left: 5px;
    top: -12px;
    height: 50px;
    width: 50px;
  }

  .button-shadow:hover,
  .button-glow:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0);
  }

  .button-shadow:active,
  .button-glow:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .flying-cash-animation {
    width: 150px;
    height: 150px;
  }

  .month-arrow {
    margin-top: -5px;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }

  .month-arrow:hover {
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }
  .month-arrow:active {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

  button.accordion-button.collapsed::after {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  button.accordion-button:not(.collapsed)::after {
    -webkit-transform: rotate(-180deg) scale(1.5);
    -ms-transform: rotate(-180deg) scale(1.5);
    transform: rotate(-180deg) scale(1.5);
  }

  .accordion-button {
    padding: 10px !important;
  }

  .line-chart {
    display: none !important;
  }
}
