/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("./variables.css");

/* app themes */
.day-app {
  background-color: var(--light-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.night-app {
  background-color: var(--dark-1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* login themes */

.input-day::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--blue-5);
}

.input-day::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--blue-5);
}

.input-day:-ms-input-placeholder {
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--blue-5);
}

.input-day::-ms-input-placeholder {
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--blue-5);
}

.input-day,
.input-day::placeholder {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--blue-5);
}

.input-day {
  border: 1px solid black !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night {
  border: 1px solid rgba(255, 255, 255, 0) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night::-webkit-input-placeholder {
  color: var(--dark-5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night::-moz-placeholder {
  color: var(--dark-5);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night:-ms-input-placeholder {
  color: var(--dark-5);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night::-ms-input-placeholder {
  color: var(--dark-5);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-night::placeholder,
.input-night {
  color: var(--dark-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-container,
.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}

.login-day-theme-bg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-night-theme-bg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.day-theme-card {
  background-color: var(--blue-10);
  color: #0f0082;
  outline: 2px solid #52426a;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7) !important;
}

.night-theme-card {
  background-color: var(--dark-3);
  color: #eee;
  outline: 2px solid #efe4fa;
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.login-day-theme-heading {
  color: var(--light-4);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-night-theme-heading {
  color: var(--dark-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-text {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.day-theme-link {
  color: var(--light-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.night-theme-link a,
.night-theme-link {
  color: var(--dark-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Navbar */
.day-nav {
  border-bottom: 4px solid black;
  background-color: var(--light-4);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.night-nav {
  border-bottom: 4px solid #dbbef9;
  background-color: var(--dark-3);

  -webkit-transition: all 0.3s ease;

  -o-transition: all 0.3s ease;

  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.7);
}

/* FOOTER */

.day-footer {
  background-color: var(--light-4);
  border-top: 2px solid black;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.night-footer {
  background-color: var(--dark-3);
  border-top: 2px solid var(--dark-8);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--dark-7);
}

.day-footer-link {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.night-footer-link {
  color: var(--dark-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.night-footer-link:hover {
  color: var(--dark-8);
}

/* OVERVIEW */
.category-card-day {
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
  background-color: var(--light-5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 2px solid black;
}

.category-card-night {
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 2px solid #c6f2ff;
}

.overview-category-card-day {
  background-color: var(--blue-6) !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 2px solid black;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
}

.overview-category-card-night {
  background-color: var(--blue-2) !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 2px solid #c6f2ff;
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
}

.category-card-night:hover,
.overview-category-card-night:hover {
  -webkit-box-shadow: 0 0 25px 15px white !important;
  box-shadow: 0 0 25px 15px white !important;
}

.category-card-day:hover,
.overview-category-card-day:hover {
  -webkit-box-shadow: 25px 25px 40px 1px rgba(0, 0, 0, 1);
  box-shadow: 25px 25px 40px 1px rgba(0, 0, 0, 1);
}

.day-text {
  color: var(--light-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.night-text {
  color: var(--night-3);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-item-day,
.accordion-header-day .accordion-button[aria-expanded="true"],
.accordion-header-day .accordion-button[aria-expanded="false"],
.overview-accordion-body-day {
  outline: 2px solid black !important;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day-red .accordion-button[aria-expanded="true"],
.accordion-header-day-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-night-red .accordion-button[aria-expanded="true"],
.accordion-header-night-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-4) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-day-red .accordion-button[aria-expanded="true"],
.accordion-header-higher-day-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-night-red .accordion-button[aria-expanded="true"],
.accordion-header-higher-night-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-6) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-day-red .accordion-button[aria-expanded="true"],
.accordion-header-highest-day-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-9) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-night-red .accordion-button[aria-expanded="true"],
.accordion-header-highest-night-red .accordion-button[aria-expanded="false"] {
  background-color: var(--red-7) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day-orange .accordion-button[aria-expanded="true"],
.accordion-header-day-orange .accordion-button[aria-expanded="false"] {
  /* background-color: #f9e0c5 !important; */
  background-color: var(--orange-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-night-orange .accordion-button[aria-expanded="true"],
.accordion-header-night-orange .accordion-button[aria-expanded="false"] {
  /* background-color: #fb8500 !important; */
  background-color: var(--orange-6) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-day-orange .accordion-button[aria-expanded="true"],
.accordion-header-higher-day-orange .accordion-button[aria-expanded="false"] {
  background-color: var(--orange-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-night-orange .accordion-button[aria-expanded="true"],
.accordion-header-higher-night-orange .accordion-button[aria-expanded="false"] {
  background-color: var(--orange-7) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-day-orange .accordion-button[aria-expanded="true"],
.accordion-header-highest-day-orange .accordion-button[aria-expanded="false"] {
  background-color: var(--orange-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-night-orange .accordion-button[aria-expanded="true"],
.accordion-header-highest-night-orange
  .accordion-button[aria-expanded="false"] {
  background-color: var(--orange-7) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day-yellow .accordion-button[aria-expanded="true"],
.accordion-header-day-yellow .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-10);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-night-yellow .accordion-button[aria-expanded="true"],
.accordion-header-night-yellow .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-day-yellow .accordion-button[aria-expanded="true"],
.accordion-header-higher-day-yellow .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-night-yellow .accordion-button[aria-expanded="true"],
.accordion-header-higher-night-yellow .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-5) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-day-yellow .accordion-button[aria-expanded="true"],
.accordion-header-highest-day-yellow .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-night-yellow .accordion-button[aria-expanded="true"],
.accordion-header-highest-night-yellow
  .accordion-button[aria-expanded="false"] {
  background-color: var(--yellow-5) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day-green .accordion-button[aria-expanded="true"],
.accordion-header-day-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-10);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-night-green .accordion-button[aria-expanded="true"],
.accordion-header-night-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-4);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-day-green .accordion-button[aria-expanded="true"],
.accordion-header-higher-day-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-higher-night-green .accordion-button[aria-expanded="true"],
.accordion-header-higher-night-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-5) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-day-green .accordion-button[aria-expanded="true"],
.accordion-header-highest-day-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-10) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-highest-night-green .accordion-button[aria-expanded="true"],
.accordion-header-highest-night-green .accordion-button[aria-expanded="false"] {
  background-color: var(--green-5) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-item-day:hover {
  background-color: #cee2ff !important;
}

.overview-item-night,
.accordion-header-night .accordion-button[aria-expanded="true"],
.accordion-header-night .accordion-button[aria-expanded="false"],
.accordion-header-night,
.accordion-body-night {
  outline: 2px solid white !important;
  -webkit-box-shadow: 0 0 5px 2px white !important;
  box-shadow: 0 0 5px 2px white !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-body-day {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.accordion-header-night-overview .accordion-button[aria-expanded="true"],
.accordion-header-night-overview .accordion-button[aria-expanded="false"] {
  background-color: var(--blue-4) !important;
}

.overview-accordion-body-day {
  background-color: var(--blue-9) !important;
}

.accordion-header-day-overview .accordion-button[aria-expanded="true"],
.accordion-header-day-overview .accordion-button[aria-expanded="false"] {
  background-color: var(--blue-10) !important;
}

.accordion-item-day {
  border: 2px solid black !important;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-item-night {
  border: 2px solid white !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-accordion-body-night {
  background-color: var(--blue-4) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-accordion-body-night-red {
  background-color: var(--red-3) !important;
}

.overview-higher-accordion-body-night-red {
  background-color: var(--red-4);
}

.overview-highest-accordion-body-night-red {
  background-color: var(--red-5);
}

.overview-higher-accordion-body-day-red {
  background-color: var(--red-6);
}

.overview-highest-accordion-body-day-red {
  background-color: var(--red-9);
}

.overview-accordion-body-night-orange {
  background-color: var(--orange-5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-higher-accordion-body-night-orange {
  background-color: var(--orange-4);
}

.overview-highest-accordion-body-night-orange {
  background-color: var(--orange-6);
}

.overview-higher-accordion-body-day-orange {
  background-color: var(--orange-8);
}

.overview-highest-accordion-body-day-orange {
  background-color: var(--orange-9);
}

.overview-accordion-body-night-yellow {
  background-color: var(--yellow-4);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-higher-accordion-body-night-yellow {
  background-color: var(--yellow-3);
}

.overview-highest-accordion-body-night-yellow {
  background-color: var(--yellow-6);
}

.overview-higher-accordion-body-day-yellow {
  background-color: var(--yellow-8);
}

.overview-highest-accordion-body-day-yellow {
  background-color: var(--yellow-9);
}

.overview-accordion-body-night-green {
  background-color: var(--green-3);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-higher-accordion-body-night-green {
  background-color: var(--green-3);
}

.overview-highest-accordion-body-night-green {
  background-color: var(--green-6);
}

.overview-higher-accordion-body-day-green {
  background-color: var(--green-6);
}

.overview-highest-accordion-body-day-green {
  background-color: var(--green-8);
}

.overview-accordion-body-day-red {
  background-color: var(--red-5) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-accordion-body-day-orange {
  background-color: var(--orange-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-accordion-body-day-yellow {
  background-color: var(--yellow-7) !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overview-accordion-body-day-green {
  background-color: var(--green-7);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-night .accordion-button::after,
.accordion-header-night-overview .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' stroke='%23ffffff' stroke-width='2'/></svg>") !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day .accordion-button::after,
.accordion-header-day-overview .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' stroke='%23000000' stroke-width='2'/></svg>") !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-header-day-overview {
  background-color: white !important;
}

.accordion-header-night .accordion-button::after:hover,
.accordion-button::after:hover {
  -webkit-transform: scale(4) !important;
  -ms-transform: scale(4) !important;
  transform: scale(4) !important;
}

/* On night theme */
.accordion-button.night-theme::after {
  color: #d1d5db;
}

/* SubCategoriesWithTemplates */
.day-red {
  background-color: var(--red-4);
}

.day-orange {
  background-color: #fb8500;
}

.day-yellow {
  background-color: var(--yellow-5);
}

.day-green {
  background-color: var(--green-4);
}

.night-red {
  background-color: var(--red-2);
}

.night-orange {
  background-color: var(--orange-4);
}

.night-yellow {
  background-color: var(--yellow-3);
}

.night-green {
  background-color: var(--green-2);
}

.progress {
  height: 2rem !important;
  font-size: 20px !important;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.night-progress {
  border: 2px solid white !important;
}

.day-progress {
  border: 2px solid black !important;
}

.transaction-item-day {
  border: 2px solid black;
}

.transaction-item-night {
  border: 2px solid white;
}

@media only screen and (max-width: 640px) {
  .zero-percent {
    font-size: 16px !important;
    top: 13px !important;
  }

  .category-card-day,
  .category-card-day:hover,
  .overview-category-card-day,
  .overview-category-card-day:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }

  .category-card-night,
  .category-card-night:hover,
  .overview-category-card-night,
  .overview-category-card-night:hover {
    -webkit-box-shadow: 0 0 5px 5px white !important;
    box-shadow: 0 0 5px 5px white !important;
  }
}
